.research_item_button_edit {
    background: none;
    border: 2px solid black;
    border-radius: 6px;
    width: 80px;
    padding: 4px;
    transition: background-color .2s;
}

.research_item_button_edit:hover {
    background-color: green;
    color: white;
    border-color: green;
}

.research_item_button_delete {
    margin-left: 2px;
    background: none;
    border: 2px solid black;
    border-radius: 6px;
    width: 80px;
    padding: 4px;
    transition: background-color .2s;
}

.research_item_button_delete:hover {
    background-color: red;
    color: white;
    border-color: red;
}