body{
    text-align:center;
    margin-top: 70px;
  }

.page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    flex-direction: column;
}

.table {
    border-collapse: collapse;
    width: 85vw;
    max-width: 1080px;
    min-width: 560px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 120px !important;
  }

.table tr:nth-child(even){background-color: #f2f2f2;}
  
.table tr:hover {background-color: #ddd;}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: purple;
    color: white;
    font-size: 125%;
  }

.flex-container {
    display: flex;
}

.button {
    margin: 2px;
    background: none;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 80px;
    padding: 4px;
    transition: background-color .2s;
}

.button_edit:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

.button_delete:hover {
    background-color: red;
    color: white;
    border-color: red;
}

.button_view:hover {
    background-color: purple;
    color: white;
    border-color: purple;
}

.button_add:hover {
    background-color: green;
    color: white;
    border-color: green;
}

.navbar {
    background-color: purple;
    width: 100%;
    top: 0;
    height: 50px;
    left: 0;
    position: fixed;
    z-index: 1;
}

.button_navbar {
    position: absolute;
    padding: 10px;
    background: none;
    border: none;
    height: 100%;
    right: 0;
    font-size: medium;
    color: white;
}

.button_navbar:hover {
    background-color: white;
    color: purple;
}